{% extends 'index.html' %}

    {% block page-content %}
    <div>
            <script src='/static/tinymce/js/tinymce/tinymce.min.js'></script>
            <script>
                tinymce.init({
                    selector: '#mytextarea',
                    theme: "modern",
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                    toolbar2: "print preview media | forecolor backcolor emoticons",
                    image_advtab: true,
                    templates: [
                        {title: 'Test template 1', content: 'Test 1'},
                        {title: 'Test template 2', content: 'Test 2'}
                    ]
                });
            </script>

        <h3>论坛发帖</h3>
        <form action="/bbs_sub/" method="post">
            {% csrf_token %}
            <span>选择板块：</span>
            <select>
                <option>大学城</option>
                <option>龙洞</option>
            </select>
            <span>标题：</span>
            <textarea id="mytextarea" name="content">Hello, World!</textarea>
            <input type="submit" value="Save">
        </form>

    </div>

{% endblock %}